<body>
  <div class="buffer"></div>
  <div>
    <div class="app-form">
      <form [formGroup]="objForm" (ngSubmit)="save(objForm.value)">
        <div class="form-elements">

          <mat-form-field>
            <mat-label>User</mat-label>
            <mat-select formControlName="user" required>
              <mat-option *ngFor="let user of users" [value]="user.id">
                {{user.username}}
              </mat-option>
            </mat-select>
          </mat-form-field>


          <mat-form-field>
            <mat-label>Car</mat-label>
            <mat-select formControlName="car" required>
              <mat-option *ngFor="let car of cars" [value]="car.id">
                {{car.licensePlate}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div>
            <mat-form-field>
              <mat-label>Start Datum</mat-label>
              <input formControlName="rentalStart" matInput type="date" required>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>End Datum</mat-label>
              <input formControlName="rentalEnd" matInput type="date" required>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Kosten</mat-label>
              <input formControlName="totalCost" matInput type="number" required>
            </mat-form-field>
          </div>



        </div>
        <button [disabled]="!objForm.valid" class="save-button" mat-raised-button style="width: 200px">
          {{ 'Save' }}
        </button>
      </form>
    </div>
  </div>
</body>
