
.Components{
    display: grid;
    justify-content: center; /* Center horizontally */
    align-items: center; 
}

.Components div{
    display: grid;
    justify-content: center; /* Center horizontally */
    align-items: center; 
}
body{
    width: 1200px;
    margin: 0 auto;
}
.buffer{
    width: 1200px;
    margin: 0 auto;
    height: 100px;
}
