
div{
    background-color: black;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
.mat-toolbar {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    background-color:black;
}
  
  .navbar-title {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 40px;
    margin-right: 8px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 15px;
  }
  
  .navbar-nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
  }
  
  .navbar-nav a {
    margin: 0 10px;
  }

  .navbar-nav a:hover {
    color: black;
    background-color: white;
  }
  
  .navbar-login {
    display: flex;
    align-items: center;
  }
  .navbar-login a:hover{
    color: black;
    background-color: white;
  }