
<div><mat-toolbar>
    <span class="navbar-title">
        <mat-icon>airport_shuttle</mat-icon>
        <span class="title">Autovermietung</span>
      </span>
      <span class="navbar-nav">
        <a mat-button routerLink="/"><mat-icon>home</mat-icon> Home</a>
        <a mat-button routerLink="/cars">Cars</a>
        <a mat-button routerLink="/history">History</a>
      </span>
      <span class="navbar-login">
            <a mat-button routerLink="/login"><mat-icon>account_circle</mat-icon> Account</a>
           <!---- <button mat-button (click)="login()">Login</button>-->
      </span>
</mat-toolbar>
</div>
