<div>
    <div class="app-form">
      <form [formGroup]="objForm!"  *appIsInRoles="['admin', 'mitarbeiter']" (ngSubmit)="save(objForm.value)">
        <div class="form-elements">
            <div> 
                <mat-form-field>
                    <mat-label> Brand </mat-label>
                    <input #inputLicence appAutofocus formControlName="brand" matInput maxlength="20" required>
                </mat-form-field>
            </div>
           
            <div>
                <mat-form-field>
                    <mat-label> Model </mat-label>
                    <input #inputLicence appAutofocus formControlName="model" matInput maxlength="20" required>
                </mat-form-field>
            </div>
           
            <div>
                <mat-form-field>
                    <mat-label> Color </mat-label>
                    <input #inputLicence appAutofocus formControlName="color" matInput maxlength="10" required>
                </mat-form-field>
           </div>
            
           <div>
                <mat-form-field>
                    <mat-label> Vehicle Number </mat-label>
                    <input #inputLicence appAutofocus formControlName="license_plate" matInput maxlength="17" minlength="17" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label> Mileage </mat-label>
                    <input #inputLicence appAutofocus formControlName="mileage" matInput maxlength="20" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label> PS </mat-label>
                    <input #inputLicence appAutofocus formControlName="engine_power" matInput maxlength="20" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label> Fueltype </mat-label>
                    <input #inputLicence appAutofocus formControlName="fuel_type" matInput maxlength="20" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label> Seats </mat-label>
                    <input #inputLicence appAutofocus formControlName="number_of_seats" matInput maxlength="20" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label> Price </mat-label>
                    <input #inputLicence appAutofocus formControlName="rental_price" matInput maxlength="20" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label> Fuel Consumption </mat-label>
                    <input #inputLicence appAutofocus formControlName="consumption" matInput maxlength="20" required>
                </mat-form-field>
            </div>
            <button [disabled]="!objForm.valid" *appIsInRole="'admin'" color="primary" mat-raised-button style="width: 200px">
                {{ 'Save' }}
            </button>
        </div>
        
      </form>
    </div>
  </div>
