<body>
    <div class="buffer">></div>
<div>
    <div class="app-form">
      <form [formGroup]="objForm!"  (ngSubmit)="save(objForm.value)">
        <div class="form-elements">
            <div>
                <mat-form-field>
                    <mat-label> Brand </mat-label>
                    <input #inputLicence appAutofocus formControlName="brand" matInput maxlength="20" required>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <mat-label> Model </mat-label>
                    <input #inputLicence formControlName="model" matInput maxlength="20" required>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <mat-label> Color </mat-label>
                    <input #inputLicence formControlName="color" matInput maxlength="10" required>
                </mat-form-field>
           </div>

           <div>
                <mat-form-field>
                    <mat-label> License Plate </mat-label>
                    <input #inputLicence formControlName="licensePlate" matInput maxlength="20" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label> Mileage </mat-label>
                    <input #inputLicence formControlName="mileage" matInput maxlength="20" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label> PS </mat-label>
                    <input #inputLicence formControlName="enginePower" matInput maxlength="20" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label> Fueltype </mat-label>
                    <input #inputLicence formControlName="fuelType" matInput maxlength="20" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label> Seats </mat-label>
                    <input #inputLicence formControlName="numberOfSeats" matInput maxlength="20" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label> Price </mat-label>
                    <input #inputLicence formControlName="rentalPrice" matInput maxlength="20" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label> Fuel Consumption </mat-label>
                    <input #inputLicence formControlName="consumption" matInput maxlength="20" required>
                </mat-form-field>
            </div>
            <button *appIsAdmin="" [disabled]="!objForm.valid" class="save-button" mat-raised-button style="width: 200px">
                {{ 'Save' }}
            </button>
        </div>
      </form>
      <h1 class="information-text-reservation" *appIsLogin="false">You need to be logged in to make reservations</h1>
      <div *appIsLogin="true" class="reservation-container">
        <mat-expansion-panel *ngIf="isNotNew"  hideToggle class="mat-expansion-panel">
            <mat-expansion-panel-header>
              <mat-panel-title> Reservate            
                <mat-icon class="mat-icon">
                    arrow_drop_down
              </mat-icon>
            </mat-panel-title>
            </mat-expansion-panel-header>
          <form *ngIf="isNotNew" [formGroup]="objFormReservation!" (ngSubmit)="saveReservation(objFormReservation.value)">
            <div class="form-container">
                <mat-form-field class="date-picker-filter-one">
                    <mat-label>Von Datum</mat-label>
                    <input formControlName="vonDatum" required matInput [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker  ></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="date-picker-filter-two" >
                    <mat-label>Bis Datum</mat-label>
                    <input formControlName="bisDatum" required matInput [matDatepicker]="picker2">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2 ></mat-datepicker>
                </mat-form-field>
            </div>
            <button [disabled]="!objFormReservation.valid" color="primary" mat-raised-button class="button-filter-refresh">
                {{ 'Reservate' }}
            </button>       
          </form>
        </mat-expansion-panel>
      </div>
      
    </div>
  </div>
</body>
