.title{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

body{
    width: 1200px;
    margin: 0 auto;
}

.listButtons{
    width: 200px;
}
.buffer{
    width: 1200px;
    margin: 0 auto;
    height: 100px;
}

.app-form{
    display: flex;
    flex-wrap: wrap;
}

.form-elements{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.save-button[disabled] {
    background-color: lightgray;
    color: darkslategray;
}

.save-button{

    background-color: black;
    color: white;
}
.save-button:hover{
    background-color: gray;
    color: black;
}
